header{
    width: 100%;
    padding: 2em;
    position: fixed;
    z-index: 9;
    box-sizing: border-box;
    transition: 0.6s;
}

.opaque{
    background-color: var(--dark);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    padding: 1em 2em;
    transition: 0.6s;
}