body, html, #root{
    height: 100%;
    padding: 0;
    margin: 0;
}

.wrapper{
    width: 100%;
    padding: 2em;
    position: absolute;
    z-index: 9;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
}

h1 {
    color: white;
    margin: 0;
    font-size: large;
}
